@using LetsGame.Web.Services.Igdb.Models
@using LetsGame.Web.Services
@model GroupModel
@inject UserManager<AppUser> UserManager;
@inject DateService DateService;

@{
    var currentUserId = UserManager.GetUserId(User);
}

@if (Model.UpcomingEvents.Any())
{
    <h2>Upcoming events</h2>
    <div class="row row-cols-1 row-cols-xl-2 pt-3">
        @foreach (var e in Model.UpcomingEvents)
        {
            <div class="col mb-4">
                <div class="card">
                    <div class="row no-gutters">
                        <div class="col-md-4 fill">
                            <img src="@Image.GetScreenshotMedUrl(e.Game.IgdbImageId)" class="card-img" alt="Screenshot from @e.Game.Name"/>
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">@e.Game.Name</h5>
                                <blockquote class="blockquote cart-text">@e.Details</blockquote>
                                <p class="card-text">
                                    @DateService.FormatUtcToUserFriendlyDate(e.ChosenDateAndTimeUtc.Value)
                                </p>
                                <ul class="card-text">
                                    @{
                                        var slot = e.Slots.FirstOrDefault(s => s.ProposedDateAndTimeUtc == e.ChosenDateAndTimeUtc);
                                    }
                                    @if (slot != null)
                                    {
                                        @foreach (var vote in slot.Votes.OrderBy(v => v.VotedAtUtc))
                                        {
                                            <li>@Model.GetDisplayName(vote.VoterId)</li>
                                        }
                                    }
                                    @if (!slot.Votes.Any(v => v.VoterId == currentUserId))
                                    {
                                        <li>
                                            <form asp-page-handler="VoteSlot">
                                                <input type="hidden" asp-for="SlotId" value="@slot.Id"/>
                                                <button type="submit" class="btn btn-sm btn-primary">Join</button>
                                            </form>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
}