@page "/group/{slug}/add-game"
@model LetsGame.Web.Pages.Groups.AddGame

@{
    Layout = "_AuthenticatedLayout";
}

<h1 class="display-4">Add game</h1>

<div class="row pb-5">
    <div class="col col-lg-6">
        <form method="post" asp-page-handler="Search">
            <form-group for="SearchText" control-autofocus/>
            <button type="submit" class="btn btn-lg btn-primary">Search</button>
        </form>
    </div>
</div>

@if (Model.Results != null)
{
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4">
        @foreach (var game in Model.Results)
        {
            <form method="post" asp-page-handler="Add">
                <input type="hidden" asp-for="GameToAdd" value="@game.Id"/>
                
                <div class="col mb-4">
                    <div class="card bg-dark text-white">
                        @if (game.MainImage != null)
                        {
                            <img src="@game.MainImage.ScreenshotMedUrl" class="card-img" alt="Screenshot from @game.Name"/>
                        }
                        else
                        {
                            <img src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='555' height='312'%3E%3Crect width='100%25' height='100%25' fill='%23868e96'%3E%3C/rect%3E%3C/svg%3E" class="card-img" alt=""/>
                        }
                        <div class="card-img-overlay bg-overlay-dark">
                            <h5 class="card-title">@game.Name</h5>
                            <button type="submit" class="btn btn-light stretched-link opacity-0" title="Add @game.Name to the group">Add</button>
                        </div>
                    </div>
                </div>
            </form>        }
    </div>
}