@page "/group/{slug}"
@using LetsGame.Web.Services.Igdb.Models
@using LetsGame.Web.Services
@inject UserManager<AppUser> UserManager;
@inject DateService DateService;
@model LetsGame.Web.Pages.Groups.GroupModel

@{
    Layout = "_AuthenticatedLayout";
    var currentUserId = UserManager.GetUserId(User);
}

<div class="d-flex justify-content-between align-items-center">
    <h1 class="display-4">@Model.Group.Name</h1>

    <form method="post" asp-page-handler="delete">
        <button type="submit" class="btn btn-danger">Delete this group</button>
    </form>
</div>

<h2>Games in this group</h2>
<a asp-page="AddGame" asp-route-slug="@Model.Group.Slug" class="btn btn-primary">Add game</a>

<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 pt-3">
    @foreach (var game in Model.Group.Games)
    {
        <div class="col mb-4">
            <game-card name="@game.Name" image-id="@game.IgdbImageId"/>
        </div>
    }
</div>

<h2>Proposed events</h2>
<a asp-page="ProposeEvent" asp-route-slug="@Model.Group.Slug" class="btn btn-primary">Propose event</a>

<div class="row row-cols-1 row-cols-xl-2 pt-3">
    @foreach (var e in Model.ProposedEvents)
    {
        <div class="col mb-4">
            <div class="card">
                <div class="row no-gutters">
                    <div class="col-md-4 fill">
                        <img src="@Image.GetScreenshotMedUrl(e.Game.IgdbImageId)" class="card-img" alt="Screenshot from @e.Game.Name"/>
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">@e.Game.Name</h5>
                            <blockquote class="blockquote cart-text">@e.Details</blockquote>
                            <div class="card-text">
                                Time slots:
                                <ul>
                                    @foreach (var slot in e.Slots)
                                    {
                                        <li>
                                            @DateService.FormatUtcToUserFriendlyDate(slot.ProposedDateAndTimeUtc)
                                            @if (Model.Membership.Role == GroupRole.Owner)
                                            {
                                                <form asp-page-handler="PickSlot">
                                                    <input type="hidden" asp-for="SlotId" value="@slot.Id"/>
                                                    <button type="submit" class="btn btn-sm btn-success">Pick this slot</button>
                                                </form>
                                            }
                                            <ul>
                                                @foreach (var vote in slot.Votes.OrderBy(x => x.VotedAtUtc))
                                                {
                                                    <li>@Model.GetDisplayName(vote.VoterId)</li>
                                                }
                                                @if (!slot.Votes.Any(v => v.VoterId == currentUserId))
                                                {
                                                    <li>
                                                        <form asp-page-handler="VoteSlot">
                                                            <input type="hidden" asp-for="SlotId" value="@slot.Id"/>
                                                            <button type="submit" class="btn btn-sm btn-primary">Vote</button>
                                                        </form>
                                                    </li>
                                                }
                                            </ul>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

<h2>Upcoming events</h2>
<div class="row row-cols-1 row-cols-xl-2 pt-3">
    @foreach (var e in Model.UpcomingEvent)
    {
        <div class="col mb-4">
            <div class="card">
                <div class="row no-gutters">
                    <div class="col-md-4 fill">
                        <img src="@Image.GetScreenshotMedUrl(e.Game.IgdbImageId)" class="card-img" alt="Screenshot from @e.Game.Name"/>
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">@e.Game.Name</h5>
                            <blockquote class="blockquote cart-text">@e.Details</blockquote>
                            <p class="card-text">
                                @DateService.FormatUtcToUserFriendlyDate(e.ChosenDateAndTimeUtc.Value)
                            </p>
                            <ul class="card-text">
                                @{
                                    var slot = e.Slots.FirstOrDefault(s => s.ProposedDateAndTimeUtc == e.ChosenDateAndTimeUtc);
                                }
                                @if (slot != null)
                                {
                                    @foreach (var vote in slot.Votes.OrderBy(v => v.VotedAtUtc))
                                    {
                                        <li>@Model.GetDisplayName(vote.VoterId)</li>
                                    }
                                }
                                @if (!slot.Votes.Any(v => v.VoterId == currentUserId))
                                {
                                    <li>
                                        <form asp-page-handler="VoteSlot">
                                            <input type="hidden" asp-for="SlotId" value="@slot.Id"/>
                                            <button type="submit" class="btn btn-sm btn-primary">Join</button>
                                        </form>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>